.mcr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  font-family: "Montserrat";
  transition-duration: 0.4s;
}

.mcr .checkout-icon {
  position: absolute;
  transform: translate(266px, -38px);
  transition-duration: 0.4s;
}

.mcr .checkout-icon:hover {
  stroke: white;
  fill: white;
}
.mcr .right-m {
  background-color: black;
  width: 0;
  float: right;
  height: 100vh;
  transition-duration: 0.4s;
  overflow-x: hidden;
}

.mcr .hdr-m {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  transform: translateY(10px);
  z-index: 200;
}

.mcr .content-ctr {
  height: calc(100vh - 50px);
  padding-bottom: 100px; /* Just to be safe */
  width: calc(100%);
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* transform: translateX(-100px); */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.mcr .content-ctr .total {
  width: 100%;
  text-align: center;
  height: 40px;
}

.mcr .content-ctr::-webkit-scrollbar {
  display: block;
  width: 6px;
  opacity: 0.5;
  /* transform: translateX(200px); */
}

.mcr .cross {
  position: fixed;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  font-size: 18px;
  color: rgb(199, 197, 197);
  transform: translate(20px, -35px);
  transition-duration: 0.4s;
}

.mcr .cross:hover {
  color: white;
}

.mcr .m-content {
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(201, 200, 200);

  transition-duration: 0.4s;
}

.m-content img {
  width: 100px;
  height: 150px;
}

.m-content .col-flex {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.m-content .title {
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  font-size: 16px;
  margin-bottom: 10px;
}
.m-content .title:hover {
  color: #35d5fd;
}

.m-content .small {
  font-size: 12px;
  color: grey;
}
.m-content .price {
  transform: translateY(10px);
}
.m-content .item-count {
  padding-left: 60px;
  width: 100px;
  border-width: 0;
  border-bottom: 1px solid whitesmoke;
  transform: translateY(-9px);
  outline: none;
  background-color: white;
  color: black;
}

.m-content .qty {
  transform: translateY(6px);
  z-index: 110;
  width: 30px;
}

.m-content .sm-hdr {
  margin-top: 10px;
  text-align: center;
}

.m-content .remove {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 8px 0;

  transform: translateY(21px);
  transition-duration: 0.4s;
}
.m-content .remove:hover {
  background-color: red;
}

.m-content .m-icons {
  position: relative;
  transform: translate(100px, -95px);
}

.m-content .icon {
  margin-bottom: 5px;
  margin-right: 5px;
  transition-duration: 0.4s;
}

.m-content .icon:hover {
  stroke: #35d5fd;
}

.m-content #last {
  height: 100px;
}

.content-ctr .options {
  margin: 10px 20px;
  padding-bottom: 20px;
}

.content-ctr .options button {
  border: none;
  margin-bottom: 10px;
  height: 40px;
  font-weight: bold;
  transition-duration: 0.4s;
  font-family: "Montserrat";
}

.content-ctr .options .hollow {
  background-color: white;
  border: 2px solid black;
}

.content-ctr .options .solid {
  width: 100%;
  background-color: black;
  color: white;
  outline: none;
  /* margin-bottom: 100px; */
}
.content-ctr .options .solid {
  text-align: center;
  color: white;
}
.content-ctr .options .hollow:hover {
  background-color: black;
  color: white;
}

.content-ctr .options .solid:hover {
  background-color: #35d5fd;
}
